@charset "UTF-8";

div#container {
    width: 90%;
   	margin: 1% auto; 
    min-width: 768px;
}

/* 등록하기 버튼 */
div#register_btn {
    width: 120px;
    height: 40px;
    line-height: 37px;
    text-align: center;
    font-size: 14pt;
    font-weight: lighter;
    margin-bottom: 1%;
    margin-left: 48%;
}

/* 질문 리스트의 고정된 헤더 */
div#list_header {
    border-bottom: solid 0.7px black;
    display: flex;
    text-align: center;
    height: 60px;
    font-size: 12pt;
    font-weight: lighter;
    align-items: center;
    width: 50%;
}

/* 리스트의 한 줄 */
div.list_item {
    display: flex;
    text-align: center;
    height: 60px; 
    font-size: 12pt; 
    align-items: center;
    font-weight: lighter;
    margin: 1% 0;
    width: 50%; 
}

/* 버튼 기본 상태 */
.custom-btn {
    border: 0.7px solid transparent; /* 모든 면에 투명한 테두리를 설정 */
    border-bottom-color: #000; /* 하단 테두리만 검은색으로 설정 */
    background: transparent; 
    cursor: pointer; 
    transition: border-color 0.5s ease; /* 테두리 색상 변경에 부드러운 전환 효과 추가 */
    position: relative; 
    display: inline-block;
    box-sizing: border-box;
}

/* Hover 상태 */
.custom-btn:hover {
    border: 0.7px solid #000; /* 네 면의 테두리를 검은색으로 변경 */
    background: transparent;
    color: #000; 
}

.btn-3 div#items {
    position: relative; /* 내부 요소의 상대 위치 지정 */
    display: flex;
    width: 100%; 
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* Hover 시 추가적인 애니메이션 효과 정의 */
.btn-3:before,
.btn-3:after {
    position: absolute; 
    content: ""; /* 가상 요소 생성 */
    left: 0; 
    top: 0; 
    background: #000; 
    transition: all 0.5s ease; /* 모든 속성에 대해 부드러운 전환 효과 추가 */
}

/* Hover 이전의 초기 상태 */
.btn-3:before {
    height: 0%; 
    width: 2px; 
}

.btn-3:after {
    width: 0%; 
    height: 2px; 
}

/* Hover 시 가상 요소 확장 효과 */
.btn-3:hover:before {
    height: 100%; 
}

.btn-3:hover:after {
    width: 100%;
}

/* 내부 Span의 Hover 효과 */
.btn-3 div#items:before,
.btn-3 div#items:after {
    position: absolute; /* 부모 요소를 기준으로 절대 위치 지정 */
    content: ""; /* 가상 요소 생성 */
    right: 0; 
    bottom: 0;
    background: #000;
    transition: all 0.5s ease; /* 모든 속성에 대해 부드러운 전환 효과 추가 */
}

/* 내부 Span의 초기 상태 */
.btn-3 div#items:before {
    width: 2px;
    height: 0%; 
}

.btn-3 div#items:after {
    width: 0%; 
    height: 2px;
}

/* Hover 시 Span 내부 가상 요소 확장 효과 */
.btn-3 div#items:hover:before {
    height: 100%
}

.btn-3 div#items:hover:after {
    width: 100%;
}


/* 번호 */
div#seq {
    width: 10%;
}

/* 제목 */
div#title {
    width: 50%;
}

/* 답변상태 */
div#aswer_status {
    width: 15%;
}

/* 등록일자 */
div#register_day {
    width: 15%;
}

/* 비밀여부 */
div#private {
    width: 10%;
}


/* 페이지바와 관련된 CSS */

/* 페이징바 위치 잡기 */
nav.text-center {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 페이징바 안의 요소들 */
ul.pagination {
	width: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
}

/* 페이징바의 숫자를 감싸고 있는 박스 */
/* 가운데 정렬을 위해 사용 */
div#pageNo_box {
	width: 250px;
	display: flex;
	justify-content: center;
	margin: 0 2%;	
}

div#pageNo_box > li {
	width: 50px;
	margin: 0 2%;
}

/* 페이징바의 숫자 요소들 (1 2 3 4 5) */
a.pageNo {
	font-size: 22px;
	font-weight: lighter;	
	border-bottom: solid 0.7px black;
	color: gray;
}

/* 페이징바의 버튼을 감싸고 있는 박스 */
div.pageBtn_box {
	display: flex;
	width: 60	px;
}

div.pageBtn_box > li {
	margin: 0 3%;
}

/* 페이지바의 이동하는 버튼 (< << > >>) */
img.pageBtn {
	width: 25px;
	height: 30px;
}


a.active {
	color: black;
	font-weight: bold;
}



