@charset "UTF-8";

div#container {
    margin: 0 350px;
    min-width: 768px;
}

/* 등록하기 버튼 */
div#register_btn {
    border: solid 3px black;
    width: 120px;
    height: 40px;
    line-height: 37px;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    margin-left: auto;
    margin-bottom: 3%;
}

/* 등록하기 버튼에 호버했을 때 */
div#register_btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

/* 질문 리스트의 고정된 헤더 */
div#list_header {
    border: solid 3px black;
    display: flex;
    text-align: center;
    height: 60px;
    font-size: 12pt;
    align-items: center;
}

/* 리스트의 한 줄 */
div.list_item {
    display: flex;
    text-align: center;
    height: 60px;
    font-size: 12pt;
    align-items: center;
    margin: 1% 0;
    border: solid 3px black;
}

/* 리스트 한 줄에 호버했을 때 */
div.list_item:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}


/* 번호 */
div#seq {
    width: 10%;
}

/* 제목 */
div#title {
    width: 50%;
}

/* 답변상태 */
div#aswer_status {
    width: 15%;
}

/* 등록일자 */
div#register_day {
    width: 15%;
}

/* 비밀여부 */
div#private {
    width: 10%;
}


/* 페이지바와 관련된 CSS */

/* 페이징바 위치 잡기 */
nav.text-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 페이징바 안의 요소들 */
ul.pagination {
	width: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
}

/* 페이징바의 숫자를 감싸고 있는 박스 */
/* 가운데 정렬을 위해 사용 */
div#pageNo_box {
	width: 250px;
	display: flex;
	justify-content: center;
	margin: 0 2%;	
}

div#pageNo_box > li {
	width: 50px;
	margin: 0 2%;
}

/* 페이징바의 숫자 요소들 (1 2 3 4 5) */
a.pageNo {
	font-size: 22px;
	color: black;
	border-bottom: solid 2px black;
}

/* 페이징바의 버튼을 감싸고 있는 박스 */
div.pageBtn_box {
	display: flex;
	width: 60	px;
}

div.pageBtn_box > li {
	margin: 0 3%;
}

/* 페이지바의 이동하는 버튼 (< << > >>) */
img.pageBtn {
	width: 25px;
	height: 30px;
}






