* {
  box-sizing: border-box;
}

div#container {
  width: 88%;
  max-width: 50%;
  overflow-x: hidden;
  margin: 2% 5%;
}

div#update_box {
	border: 0.7px solid black;
	height: 300px;
	width: 50%;
}

h2 {
	margin-top: 3%;
}

h3 {
	margin: 2% 2%;
}

div.box {
	border: solid 0px blue;
	display: block;
	outline: none;
	font-size: 10pt;
	color: red;
	margin-bottom: 2%;
}

p.box {
	display: block;
	margin: 2% 2%;
}

div.message {
	font-size: 10pt;
	color: red;
}

input#mobileCheck {
	margin: 2% 2%;
}

button#code, 
button#codecheck, 
button#Deactivate {
	margin: 2% 2%;
	border: solid 1px gray;
	border-radius: 5px;
	font-size: 9pt;
	text-align: center;
	cursor: pointer;
	padding: 0.2%;
	background-color: white;
	width: 150px;
	height: 50px;
}


button#code:hover ,   
button#codecheck:hover , 
button#Deactivate:hover {
	border: solid 2px black;
}
