@charset "UTF-8";

/* 카테고리 박스 감싸는 div */
div#header_menu {
	margin: 0 0 0 6.5%;
}

/* 카테고리 박스 */
div#header_menu div {
	border: solid 1px black;
	display: inline-block;
	text-align: center;
	color: black;
	cursor: pointer;
	
	width: 60px;
	height: 30px;
	margin-right: 0.5%;
}
