@charset "UTF-8";

/* 성별 카테고리 박스 */
div.category_box  {
    display: none;
    position: absolute;
    top: 170px;
    width: 300px;
    background-color: white;
    border: solid 1px black;
    z-index: 1000;
    padding: 15px;
    left: 130px;
    
    /* grid-column: 2;
	grid-row: 1;
	transform: 0.5s linear; */
}

/* 의류 카테고리 박스 */
ul.clothing_box {
	display: none;
    position: absolute;
    top: 242px;
    width: 300px;
    z-index: 1200;
    background-color: white;
    padding: 20px;
	border: solid 1px black;
	color: black;
	flex-direction: column;
	left: 130px;
}

/* 성별 카테고리 태그(상의, 하의) */
div.category_box a {
    display: block;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
}

/* 의류 카테고리 태그(의류 상세 종류) */
ul.clothing_box a {
	padding: 10px 10px;
	color: black;
	text-decoration: none;
}

/* 햄버거 클릭시 성별, 의류 카테고리 보이기 */
ul.clothing_box.show,
div.category_box.show {
    display: flex;
}
