
/* 전체를 감싸는 article */
article#search_contents {
	top: 150px;
}

/* 무엇을 찾고 계신가요? CSS */
div#coment {
	text-align: center;
	margin: 1% 0 1% 0;
}
div#coment span {
	font-size: 16pt;
}

/* 추천 상품 box CSS */
div#header_menu {
	text-align: center;
	margin: 0;
    overflow: hidden;
}

/* 추천 카테고리 박스 감싸는 div */

div#hide_box {
	width: 50%;
	margin: 0 auto;
}


/* 무한 자동 캐러셀 */
#header_menu{
    width: auto;
    display: flex;
    opacity: 0;
    position: relative;
    overflow: hidden;
    transition: all 1;
}

#text-scrolling {
	margin-left: 6px;
    font-size: 64px;
    position: relative;
    display: inline;
    align-items: center;
    white-space: nowrap;
    width: max-content;
    animation: aniScroll 30s linear infinite;
}

/* 0%에서 -100%으로 이동하는 애니메이션 */
@keyframes aniScroll{
    0%{ transform: translateX(0%) }
    100%{ transform: translateX(-100%) }
}


/* 추천 카테고리 박스 */
div#header_menu div {
	/* width: 75px; */
	width: 75px;
	height: 40px;
	
	padding: 5px 0.6% 0 0.6%;
}

/* 추천 카테고리 텍스트 div */
div#header_menu div {
	border: 2px solid #EEE;
	font-size: 10pt;
	padding: 8px 6px 4px 6px;
}



/* 검색바 감싸는 div */
div#search_box {
    text-align: center;
}

/* 검색바 */
input#search_bar {
    border-width: 0 0 1px;
    border: 1px solid rgba(238, 238, 238, .5);
    outline: none;
    text-align: center;
    width: 450px;
    font-size: 18px;

    margin: 6% 0 6% 0;
    margin-bottom: 4%;
}

/* 클릭(포커스) 시 border 제거 */
input#search_bar:focus {
    border: none;
}

/* 추천아이템 텍스트 */
h6 {
	font-weight: bold;
    margin: 1.2% 1.2%;
}


/* 상품 리스트 페이지 CSS 시작 */

/* 상품사진+상품명 감싸는 div */
div#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;

    width: 100%;
}

/* 상품사진 div */
div#container div#photo {
    height: 410px;
}

/* 상품명 div */
div#container div#productInfo {
    height: 80px;
}

div#container div#photo,
div#container div#productInfo {
    border: solid 1px black;
}

/* 상품 이름, 가격 */
div#name,
div#price {
	height: 40px;
	padding-left: 3%;
}

/* 상품 이름 */
div#name {
	padding: 4% 3% 0 3%;
	
	line-height: 0.9;
}

/* 상품에 마우스를 올릴 시 커서 변환 */
div#product:hover {
	cursor: pointer;
}

/* 스크롤 전체 가리기 */
/* body{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
     display: none;
}
 */
/* 상품 리스트 페이지 CSS 끝 */