@charset "UTF-8";

/* 전체 컨테이너 */
div#container {
   width: 90%;
   margin: 2% auto;
   display: flex;
}


/* 상품 추천 박스 */
div#recommend_bar {
   width: 400px;
   height: 640px;
   position: fixed;
   overflow: hidden;
}

/* 추천 상품 리스트 */
div#recommend_product_list{
   display: grid;
   grid-template-columns: 1fr 1fr
}

/* 추천상품 제목 */
div#recommend_product_title {
   text-align: center;
   height: 40px;   
   border: solid 2px black;
   font-size: 15pt;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* 추천상품 */
div#recommend_product {
   width: 200px;
   height: 300px;
}

div#recommend_product:hover {
	cursor: pointer;
}

/* 추천상품 이미지 박스 */
div#recommend_productimgbox {
   width: auto;
   height: 250px;
   border: solid 2px black;
}

/* 추천상품 이미지 */
img#recommend_productimg {
	width: 100%;
	height: 100%;
}

/* 추천 상품 이름 */
div#recommend_productname {
   width: auto;
   height: 50px; 
   display: flex;
   border: solid 2px black;
   justify-content: center;
   align-items: center;
}

/* 모든 이미지를 감싸는 박스 */
div#image_box {
   margin-left: 38%;
}

/* 이미지들을 담을 박스 */
div#img_box {
   display: flex;
   align-items: center;
   width: 500px;
   height: 600px;
   margin-left: 35%;
}

div#main_img {
   flex-grow: 1;
   height: 600px;
   border: 2px solid black;
   position: relative;
}

div#img_sidebar {
   width: 20%;
   display: flex;
   flex-direction: column;
   margin-top: 270px;
}



/* 터치 스와이프를 위한 오버레이 */
.touch-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 10;
   background: transparent;
}

/* 상품 정보 박스 */
div#product_detailbox {
   width: 300px;
   height: 700px;
   border: solid 2px black;
   margin-left: 8%;
   margin-top: auto;
}

div#top_deatilbox {
   border-bottom: solid 2px black;
}

/* 상품명 */
div#name {
   width: 95%;
   margin: auto;
   height: 50px;
}

/* 가격 */
div#price {
   width: 95%;
   margin: auto;
   height: 50px;
   line-height: 50px;
}

/* 상품 설명 */
div#explanation {
   width: 95%;
   margin: auto;
   height: 250px;
}


/* 색상 */
div#color {
   width: 95%;
   margin: auto;
   height: 100px;
   
}

div#color_name {
   width: auto;
   display: flex;
   height: 40px;
}

div#color_code {
   width: auto;
   display: flex;
   height: 40px;
}

div#colorbox {
   width: 95%;
   height: 50px;
   display: flex;
}

div.gratify {
   height: 30px;
   width: 30px;
   border: solid 2px black;
   margin-left: 3%;
}

/* 사이즈 선택 버튼 */
div#size_bar {
   display: flex;
   height: 60px;
   justify-content: center;
   gap: 2%;
}

/* 사이즈 버튼 */
input.size {
   border: solid 2px black;
   width: 22%;
   text-align: center;
   height: 40px;
   font-weight: bold;
   background-color: white;
   font-size: 9pt;
}

/* 재고가 없을 때 사이즈 버튼 */
input.noinventory {
   border: solid 2px black;
   width: 22%;
   text-align: center;
   height: 40px;
   font-weight: bold;
   font-size: 9pt;
   background-color: #eee;
}

/* 결제 버튼 */
div#paymentbar {
   display: flex;
   height: 55px;
   align-items: center;
   margin-top: 47px;
}


input.paymentBtn {
   height: 88px;
   width: 150px;
   display: flex;
   align-items: center;
   background-color: white;
   font-weight: bold;
   border: none;
   border-top: solid 2px black;
   border-bottom: solid 2px black;
   margin-top: auto;
}

input#go_basket {
   border-right: solid 2px black;
}

input:hover {
   background-color: #eee;
}

input.clicked {
   background-color: black;
   color: white;
}


/* 반응형 스타일 */
@media ( max-width : 1440px) {
   div#img_box {
      flex-direction: column;
      align-items: center;
      margin-left: 5%;
   }
   div#img_sidebar {
      flex-direction: row;
      overflow-x: auto;
      gap: 5px;
   }
   .thumbnail {
      width: 60px;
      height: 60px;
   }
   div#main_img {
      height: 400px;
   }
   
   div#recommend_product_list {
		display: grid;
   		grid-template-columns: 1fr;
   }

}

