div#image_register_container button,
div#form_register_container button {
	min-width : 120px;
}

div#product_edit_container {
	width: 100vw;
	height: 100vh;
	display: flex;
	overflow-x : hidden;
}

div#main_container {
	width: 100vw;
	padding : 10px 0;
	height: clac(100% - 20px);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

div#register_header {
	display: flex;
	justify-content: space-between;
}

div#register_container {
	max-width: 500px;
	display : block;
	height: 100%;
}

form#register_frm {
	height: 100%;
}

div#form_register_container {
	position : relative;
	max-width: 500px;
	padding-right : 10px;
	height : calc(93vh - 60px);
	flex: 1;
	overflow-y : scroll;
}

div#image_register_container {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

div#input_container {
	margin-bottom: 20px;
}

div.input_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
}

div.input_box input,
div.size_box input {
	border: none;
	border-bottom: 1px solid #eee;
	padding: 8px 0;
	transition: border-color 0.2s;
}

div.input_box input:focus,
div.size_box input:focus {
	border-bottom-color: #000;
	outline: none;
}

textarea#explanation_textarea {
	border: 1px solid #eee;
}

div#select_container {
	margin: 20px 0;
	display: flex;
	justify-content: space-between;
}

div.size_container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

div.size_box {
	margin: 0 0 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

div.size_box span {
	font-weight: bold;
}

div.size_box input {
	margin-left: 10px;
	width: 60px;
	text-align: end;
}

div#color_box {
	margin: 30px 0;
	border: none;
	border: solid 1px #eee;
}

div.color_item {
	border: none;
	border-bottom: 1px solid #eee;
	margin: 0;
	padding: 12px;
	display: flex;
	justify-content: space-between;
}

div#color_container {
	margin-bottom: 20px;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content : space-between;
}

input#color_code_input {
	margin: 0 10px;
	width: 100px;
}


button#add_color_button:hover {
	transition: 0.2s ease;
	color: white;
	background-color: black;
}

div#image_container {
	height: 90%;
}

div#image_frm_container {
	display:flex;
	margin-top: 20px;
}

div#color_box::-webkit-scrollbar {
	width: 4px;
}

div#color_box::-webkit-scrollbar-thumb {
	background: #000;
}

button#product_register_button {
	float: right;
	align-self: flex-end;
}

input#image_input {
	display: none; /* 파일 input 숨기기 */
}

input#color_code_input {
	height : 100%;
	background-color : white;
}

button#product_register_button {
	position : relative;
	bottom : 0;
	left : 0;
	width : 100%;
	height : 40px;
	border : none;
	background-color : #000;
	color : #fff;
}
